/* header */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #E5E5E5;
    background-color: #FFFFFF;
}
:root {
   
    --primary-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --primary-black-color: #434455;
    --primary-white-color: #ffffff;
    --primary-accent-color: var(--primary-black-color);
    --secondary-accent-color: black;
    --active-link-color: #f44336;
    
}

.web.link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.Studio.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    color: #2E2F42;
    text-decoration: none;
}

.navigation.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration:none;
}
.navigation:hover,:focus {
    color: #404bbf;
}
.navigation.list {
    text-decoration: none;
}
 .address.list {
    font-style: normal;
    letter-spacing: 0.02em;}
.contacts.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration:none;
}
.contacts.link:hover,:focus {
    color: #404bbf;
}

/* section1 */

.button_os {
    color: #2e2f42;
    background-color:#2e2f42;
}
.name  {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}
.button_nav {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button_nav:focus, :hover {
    color: var(--secondary-accent-color);
    background-color: #404BBF;

}

.button_navALL {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #404BBF;
    border-radius: 4px;
    cursor: pointer;
    
}

.button_navALL:hover {
    color: var(--secondary-accent-color);
}

.button_navALL:focus {
    color: var(--secondary-accent-color);
}

/* section 2 */

.portfolioimg {
    background: #FFFFFF;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #2E2F42;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

ul,
ol {
    list-style-type: none;
}

/* indexhtml */

.button_Order {
    background: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
} 

.button_Order:hover {
    color: var(--secondary-accent-color);
   
}

.button_Order:focus {
    color: var(--secondary-accent-color);
   
}